helmDefaults:
  createNamespace: true
  wait: true

releases:
  # 1. Install the Operator and CRD
  - name: eso
    chart: external-secrets/external-secrets
    namespace: eso-ns
    labels:
      tier: secrets
    values:
      - installCRDs: true
  
  # 2. Then deploy secrets
  - name: eso-secrets
    chart: ./charts/secret-configs
    namespace: eso-ns
#   values:
#     - secret:
#         name: external-secrets
    labels:
      tier: secrets
    needs:
      - eso
